/* Define common variables */
:root{
    --main-color : #4B2268; /* Main color */
    --dark-blue : #13263f; /* Suited for the footer */
    --backcolor : #f9f3ff; /* Main background color */
    --parcolor : #333; /* Main paragraph color */
}

/* Set all HTML items to zero default margin and padding  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color : #f9fbfd;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

/* Fix the NavBar at the top and add padding to the rest of the body */
.NavBar-container{
    position : fixed;
    width : 100%;
    height : 50px;
    background-color : #fff;
    border-bottom : 1px solid #ddd;
}

.Home-container{
    padding-top : 50px;
}
